.tweet__form {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid rgb(23, 99, 161);
  border-radius: 999px;
}
.tweet__form > input {
  margin-left: 11px;
  padding: 7px;
  outline: none;
  border: none;
}
.tweet {
  width: 400px;
  border: 1px solid black;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  width: 1em;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(13, 132, 230, 0.76);
  border-radius: 999px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(37, 156, 235);
  border-radius: 999px;
}

.container {
  margin: 0 auto;
  margin-top: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 300px;
  width: fit-content;
  padd
}
