.tweet__form {
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid rgb(23, 99, 161);
  border-radius: 999px;
}
.tweet__form > input {
  margin-left: 11px;
  padding: 7px;
  outline: none;
  border: none;
}
.tweet{
    
}